head,body
{
  background-color: #282c34;
  color: #d7dae0;
}

#katamari
{
  margin: 150px auto;
  width:40%;
  font-size: 17px;
  min-width: 430px;
}

#shoukai{
  margin: 60px auto;
  width: 30%;
  min-width: 300px;
  font-size: 14px;
}
